.search-bar {
    margin-left: auto;
}

.search-bar .mat-icon {
    font-size: 110%;
}

.search-bar .mat-form-field-flex {
    align-items: flex-end;
}

.search-clear .mat-icon {
    font-size: 90% !important;
}

a {
    text-decoration: none;
    color: black;
}

a:hover,
a:active {
    color: darkgrey;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-radius: 3px;
}

.submenu {
    padding: 0 2.5em;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}