<div class="header-container">
    <div class="container">
        <mat-toolbar>
            <mat-toolbar-row>
                <a mat-button routerLink='/'>
                    <h1>Beerarch.pl</h1>
                </a>
                <span class="menu-spacer"></span>
                <div>
                    <ng-template #anonymousUser>
                        <a mat-menu-item routerLink="/login">Login</a>
                    </ng-template>
                    <ng-container *ngIf="currentUser; else anonymousUser">
                        <button mat-button [matMenuTriggerFor]="aboveMenu">Admin</button>
                        <mat-menu #aboveMenu="matMenu" yPosition="above">
                            <a mat-menu-item routerLink='admin/beers'>Beers</a>
                            <a mat-menu-item routerLink='admin/breweries'>Breweries</a>
                            <a mat-menu-item routerLink='admin/countries'>Countries</a>
                            <a mat-menu-item routerLink='admin/styles'>Styles</a>
                        </mat-menu>
                        <a mat-button (click)="logout()">Logout</a>
                    </ng-container>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>