<mat-toolbar color="primary">
    <mat-toolbar-row>      
      <h1>Beer.arch</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLink='/'>Dashboard</a>
        <a mat-button routerLink='/beers'>Beers</a>        
        <button mat-button [matMenuTriggerFor]="aboveMenu">Admin</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <a mat-menu-item routerLink='admin/beers'>Beers</a>
          <a mat-menu-item routerLink='admin/breweries'>Breweries</a>
          <a mat-menu-item routerLink='admin/countries'>Countries</a>
          <a mat-menu-item routerLink='admin/styles'>Styles</a>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row>
  </mat-toolbar>
  