form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 1em;
}

.col-3 {
    grid-column: 1 / 3;
    grid-row: 2;
}

.col-1 {
    grid-column: 1;
    grid-row: 1;
}

.col-2 {
    grid-column: 2;
    grid-row: 1;
}