<section>
    <div *ngIf="isLoading" class="loading-spinner">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <table *ngIf="!isLoading" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="width10p"> Num. </th>
            <td mat-cell *matCellDef="let element; let i = index" class="">{{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="width20p"> Nazwa </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="brewery">
            <th mat-header-cell *matHeaderCellDef class="width20p"> Browar </th>
            <td mat-cell *matCellDef="let element"> {{element.brewery.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="style">
            <th mat-header-cell *matHeaderCellDef class="width20p"> Styl </th>
            <td mat-cell *matCellDef="let element"> {{element.style.name}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="width15p"> Data konsumpcji </th>
            <td mat-cell *matCellDef="let element"> {{element.consumed_on | date:"yyyy-MM-dd"}} </td>
        </ng-container>

        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef class="width10p"> Ocena </th>
            <td mat-cell *matCellDef="let element">
                <span style="font-weight: bold; color:{{element.rating | rankcolor}};font-size: 1.5em;">{{element.rating | number : '1.1-1' }}</span>
            </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
                No data matching the filter
            </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>