<mat-card class="example-card" [formGroup]="photo">
    <img *ngIf="preview && preview !== null" mat-card-image [src]="preview" [alt]="photo.value.name">
    <mat-card-actions>
        <label for="uploadPhoto" class="upload-file">
            <mat-icon>add_a_photo</mat-icon>
        </label>
        <button type="button" mat-raised-button (click)="fileInput.click()">Wybierz plik</button>
        <input hidden (change)="uploadFile($event)" #fileInput type="file" id="uploadPhoto">
    </mat-card-actions>
</mat-card>