<mat-form-field class="example-full-width" appearance="fill" [formGroup]="country">
    <mat-label>Kraj</mat-label>
    <input type="text" matInput formControlName="countries" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountryName">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
            <span>{{ country.name }}</span>
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="country.controls['countries'].invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>