<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef class="width10p"> Num. </th>
        <td mat-cell *matCellDef="let element; let i = index" class="">{{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="width20p"> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef class="width20p"> Liczba spożytych trunków </th>
        <td mat-cell *matCellDef="let element"> {{element.num_beers}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>