<section class="last-drinked">
    <h1>Ostatnia konsupcja</h1>
    <mat-card>
        <div *ngIf="latestBeer" class="flex-container">
            <div class="col-1 beer-pic flex-col">
                <img *ngIf="latestBeer.photo" mat-card-image [src]="photoUrl">
            </div>
            <div class="col-2 flex-col">
                <div class="main-title">
                    <div>
                        <h3>{{ latestBeer.name }}</h3>
                    </div>
                </div>
                <div class="rating">
                    <p style="font-weight: bold; color:{{latestBeer.rating | rankcolor}};font-size: 1.5em;">{{latestBeer.rating | number : '1.1-1' }}</p>
                </div>
                <div class="section">
                    <div class="title">
                        <h3>Styl</h3>
                    </div>
                    <div class="description">
                        <p>{{ latestBeer.style.name }}</p>
                    </div>
                </div>
                <div class="section">
                    <div class="title">
                        <h3>Browar</h3>
                    </div>
                    <div class="description">
                        <p>{{ latestBeer.brewery.name }}</p>
                    </div>
                </div>
                <div class="section">
                    <div class="title">
                        <h3>Kraj</h3>
                    </div>
                    <div class="description">
                        <p>{{ latestBeer.brewery.country.name }}</p>
                    </div>
                </div>
                <div class="section">
                    <div class="title">
                        <h3>Data konsumpcji</h3>
                    </div>
                    <div class="description">
                        <p>{{latestBeer.consumed_on | date:"yyyy-MM-dd"}}</p>
                    </div>
                </div>
                <div class="section">
                    <div class="title">
                        <h3>Szczegóły</h3>
                    </div>
                    <div class="description">
                        <a mat-stroked-button [routerLink]="['beers/', latestBeer.id]">Szczegóły</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <div *ngIf="isTopLoading" class="loading-spinner">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</section>
<section class="top-lists">
    <h1>Rankingi</h1>
    <mat-tab-group class="mat-elevation-z2">
        <mat-tab label=" Top10 ">
            <ng-template matTabContent>
                <app-top-list *ngIf="dataSourceTab0" [data]="dataSourceTab0"></app-top-list>
            </ng-template>
        </mat-tab>
        <mat-tab label="Najnowsze ">
            <ng-template matTabContent>
                <app-top-list *ngIf="dataSourceTab1" [data]="dataSourceTab1"></app-top-list>
            </ng-template>
        </mat-tab>
        <mat-tab label="Najpopularniejsze browary ">
            <ng-template matTabContent>
                <app-popular-list *ngIf="dataSourceTab2" [data]="dataSourceTab2"></app-popular-list>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <div *ngIf="isLoading" class="loading-spinner">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</section>