<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-1">
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Nazwa</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>
            </p>
            <p>
                <breweries-select [brewery]="form"></breweries-select>
            </p>
            <p>
                <styles-select [style]="form"></styles-select>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Alc</mat-label>
                    <input matInput formControlName="alc">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Ekst</mat-label>
                    <input matInput formControlName="ekst">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Ibu</mat-label>
                    <input matInput formControlName="ibu">
                </mat-form-field>
            </p>
        </div>
        <div class="col-2">
            <photo-upload [photo]="form" [photoLink]="photoLink"></photo-upload>
        </div>
        <div class="col-3">

            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Opis</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Uwagi</mat-label>
                    <textarea matInput formControlName="notes"></textarea>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Ocena</mat-label>
                    <input matInput formControlName="rating">
                    <span matSuffix class="max-points">/ 10</span>
                </mat-form-field>
            </p>
            <p>
                <button mat-flat-button color="primary" [disabled]="!form.valid">Zapisz</button>
            </p>
        </div>




    </form>
</div>