@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~font-awesome/css/font-awesome.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    width: 100%;
    display: block;
}