@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~font-awesome/css/font-awesome.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
    display: block;
}

.form-container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.spaced {
    padding: 1em;
}

.sub-table-panel {
    margin-top: 1em;
}

.clearfix::after {
    display: block;
    clear: both;
    content: ""
}