@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~font-awesome/css/font-awesome.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#main-content {
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
    display: block;
}

.form-container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.spaced {
    padding: 1em;
}

.sub-table-panel {
    margin-top: 1em;
}

.clearfix::after {
    display: block;
    clear: both;
    content: ""
}

.action-column {
    width: 10%;
}


/* Create two equal columns that floats next to each other */

.flex-col {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.flex-container:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 470px) {
    .flex-col {
        width: 100%;
    }
}

.mat-drawer-container {
    background-color: white;
}

.filter-field {
    padding: 1% 3% 0 3%;    
    width: 94%;
}