.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    grid-column-gap: 1em;
}

.section {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
}

h1 {
    border-bottom: 1px solid grey;
}

h3 {
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.title h3 {
    font-weight: 550;
    font-size: 1.2em;
}

.col-2p3 {
    padding-top: 5px;
}

section {
    margin-bottom: 3em;
}

.top-lists {
    min-height: 640px;
}

.beer-pic {
    text-align: center;
}

.beer-pic img {
    max-width: 100%;
}